# SERIES AND DATAFRAME

In [1]:
import pandas as pd # series is a one dimension data series

In [2]:
series=[10,11,20,40,55]
x=pd.Series(data=series,index=[1,2,3,4,5])

In [3]:
# dataframe is a two dimenssional data fream

In [4]:
series_2=[22,55,77,88,66]
y=pd.Series(data=series_2,index=[1,2,3,4,5])

In [5]:
z=x+y

In [6]:
z

1     32
2     66
3     97
4    128
5    121
dtype: int64

In [7]:
#  create a datafreame
pd.DataFrame({"english":series, "marathi":series_2})

   english  marathi
0       10       22
1       11       55
2       20       77
3       40       88
4       55       66

In [8]:
name=("tejas","aniket","suraj","akash","pratik")
age=(22,25,36,45,28,32,65,45,25)
income=(55000,99000,88000,66000,55000)
seving=(40000,55000,66000,40000,35000)

In [9]:
pd.DataFrame({"names":name,"ages":age,"incomes":income,"savings":seving},index=(1,2,3,4,5))

ValueError: Length of values (9) does not match length of index (5)

In [ ]:
name=("tejas","aniket","suraj","akash","pratik","ajey","roshan","pravin","pankaj")
age=(22,25,36,45,28,32,65,45,25)
income=(55000,99000,88000,66000,55000,66000,55000,78000,66000)
seving=(40000,55000,66000,40000,35000,22000,23000,25330,45000)
city=("pune","mumbai","nashik","pune","mumbai","nashik","pune","mumbai","nashik")

In [ ]:
pd.DataFrame({"names":name,"ages":age,"incomes":income,"savings":seving,"citys":city},index=(1,2,3,4,5,6,7,8,9))

In [ ]:
import pandas as pd # impord pandas labrury for cleaning data and as function is define a another name for understanding

In [ ]:
df=pd.read_csv("loan_data_set 1.csv") # here we are importing csv data file with the help of pd = pandas, read = csv

In [ ]:
df

In [ ]:
df=pd.read_csv("loan_data_set 1.csv", index_col=["Loan_ID"])# index is use for define a row as a index with the help of index_col

In [ ]:
df=pd.read_csv("loan_data_set 1.csv", usecols=['Loan_ID','Gender','Married','Education','Self_Employed'],index_col=['Loan_ID'])
# usecols function help to get required colume from large data

In [ ]:
df

In [ ]:
df=pd.read_csv("loan_data_set 1.csv",index_col=["Loan_ID"])

In [ ]:
df

In [ ]:
df

In [ ]:
df= pd.read_csv("loan_data_set 1.csv", usecols=("Loan_ID", "Gender", "Married", "Dependents"), index_col=("Loan_ID"),nrows=20)
# nrows is use for calling particuler rows from table

In [ ]:
df

# HIGH LEVEL UNDERSTANDING

In [ ]:
# high level understanding
# understanding our whole data

In [ ]:
df.head() # head function show the top five rows if we want more rows then add number in paranthesis(100)

In [ ]:
df.tail(10) # tail function used for show botom five rows if we want more rows then add number in paranthesis(100)

In [ ]:
df.shape # shape give the structure of data it means how many rows and how many colume in table

In [ ]:
df.dtypes # dtypes use for knowing the dype of data such as string, integer, floting, boolean etc

In [ ]:
df.mean()

In [ ]:
df1=pd.read_csv("loan_data_set 1.csv")

In [ ]:
df1

In [ ]:
df1.mean() # calculate the mean of all the numeric value or mesure columes

In [ ]:
df1.median() # calculate the median of all the numeric value or mesure columes

In [ ]:
df1.std()

In [ ]:
df1.max()

In [ ]:
df1.min()

In [ ]:
df1.describe() # provide the information of all the numeric columes

In [ ]:
df1.describe(include="all") # here we get both the numeric and charector colume information

# LOW LEVEL UNDERSTANDING:

In [ ]:
# UNIVERITE ANALYSIS
# BIVARIATE ANALYSIS
# MULTIVARITE ANALYSIS

# UNIVERITE ANALYSIS

In [ ]:
df1

In [ ]:
df1.dtypes # show type of data object called as catagorical data and two type of catagorical data 1= nominal, 2= ordinal

In [ ]:
# UNIVERITE : CATAGORIC

In [ ]:
df1["Gender"].nunique() # show the number of unique value in particuler colume

In [ ]:
df1["Loan_ID"].nunique()

In [ ]:
df1["Education"].nunique()

In [ ]:
df1["Gender"].value_counts() # value_counts function counts the freqvency of charector or number

In [ ]:
df1["Education"].value_counts()

In [ ]:
df1["Loan_Status"].value_counts(normalize= True)*100 # normalize function used for getting percentage of colume

In [ ]:
df1["Gender"].value_counts(normalize=True)*100

In [ ]:
df1["Gender"].value_counts().plot(kind="pie") # .plot(kind="abc") use for create graphs

In [ ]:
df1["Loan_Status"].value_counts().plot(kind="bar") # BAR CHART

In [ ]:
df1["LoanAmount"].plot(kind="hist") # HISTOGRAM

In [ ]:
df1["ApplicantIncome"].plot(kind="kde") # KARNAL DENCITY APPLICATION GRAFH

In [10]:
df1["CoapplicantIncome"].plot(kind="kde") # KARNAL DENCITY ESTIMATION GRAFH

NameError: name 'df1' is not defined

In [ ]:
df1["ApplicantIncome"].plot(kind="box") # BOXPLOT GRAFH

In [ ]:
df1["CoapplicantIncome"].plot(kind="box") # BOXPLOT GRAFH

In [ ]:
df1.tail(2)

In [ ]:
df1["Loan_Status"].value_counts().plot(kind='kde')

# BIVERITE ANALYSIS : catagorical value

In [ ]:
# how many female got the loan

In [ ]:
df1.tail(2)

In [ ]:
# pd.crosstab(df1["column1"],["column2"],margins=True,normalize=)
# pd = pandas
#crosstab = Create a tabuler form
#margins = get the sum of the across rows and column
#normalize "index" = get the rows parcentage
#normalize "columns" = get the columns parcentage

In [ ]:
pd.crosstab(df1["Gender"],df1["Loan_Status"])# pd= pandas, crosstab= create a table, under()= enter the name of two colume separeted by comma

In [ ]:
pd.crosstab(df1["Gender"],df1["Loan_Status"],margins=True)# margins describe  the of data across the rows and column

In [ ]:
pd.crosstab(df1["Gender"],df1["Education"],normalize='index')*100 # index function give the parcentage value in the rows form

In [ ]:
pd.crosstab(df1["Gender"],df1["Loan_Status"],normalize='columns')*100 # columns function give the parcentage value in the column form

In [ ]:
pd.crosstab(df1["Gender"],df1["Loan_Status"]).plot(kind='bar') # here show the bar chart loan accepted by male and female

In [ ]:
df1.tail(2)

In [ ]:
pd.crosstab(df1["Education"],df1['Loan_Status'])

In [ ]:
pd.crosstab(df1["Education"],df1['Loan_Status'],margins=True)

In [ ]:
pd.crosstab(df1['Education'],df1['Loan_Status']).plot(kind='box')# here show the boxplot chart loan accepted by education male and female

In [ ]:
pd.crosstab(df1["Education"],df1['Loan_Status'],normalize='columns')*100

In [ ]:
pd.crosstab(df1['Education'],df1['Loan_Status']).plot(kind='bar')

In [ ]:
pd.crosstab(df1["Credit_History"],df1["Loan_Status"],margins=True)

In [ ]:
pd.crosstab(df1["Credit_History"],df1["Loan_Status"],normalize='columns')*100

In [ ]:
pd.crosstab(df1["Credit_History"],df1["Loan_Status"],normalize='index')*100

In [ ]:
pd.crosstab(df1["Credit_History"],df1["Loan_Status"],normalize='columns').plot(kind='bar')

# coreletion

In [ ]:
""" corelation show the strenth of lenear reletionship with two numeric variable and is expressed numerically
 by the corelation coefitiant which range form -1 to 1(-1,0,1)
-1 = parfect negetive coraletion
 0 = is no corelation between columns
 1 = is perfect coralation between columns
 
""" 
"""1 = parfect positive corelation
  .8 = highly positive corelation
  .3 = low positive corelation
   0 = no corelation 
 -.8 = low negetive corelation
 -.3 = highly negetive corelation
 -.1 = parfect negetive coralation"""

# bi veriate analysis on numeric columns

In [ ]:
df1.corr() # show the corelation between numeric column

In [ ]:
df1["ApplicantIncome_inr"]= df1["ApplicantIncome"]*80 
# here we add another column as ApplicantIncome_inr for finding correlation between ApplicantIncome and ApplicantIncome_inr

In [ ]:
df1.tail()

In [ ]:
df1.corr() # we can see the correlation between ApplicantIncome and ApplicantIncome_inr

# Import seaborn library

In [ ]:
# here we import seaborn library for better visualiztion by heatmap for finding 
# correlation between columns

In [ ]:
import seaborn as sea

In [ ]:
a=df1 # here we need to store the df1 in "A" veriable

In [ ]:
sea.headmap(a)

In [ ]:
!pip install ppscore

In [ ]:
import ppscore as pps

In [ ]:
df1.tail(2)

In [ ]:
pps.score(df1,"ApplicantIncome","CoapplicantIncome") # here we find correlation between two numeric columns
# "0" is define no correlation between "ApplicantIncome" and "CoapplicantIncome"

In [ ]:
pps.score(df1,"Married","Self_Employed") # here is find correlation between two catagorical columns
# "4.80" is define some correlated value are present in both the columns

In [ ]:
pps.score(df1,"Education","LoanAmount") # here is find hybrid (catagorical and numeric) correlation between two columns

In [ ]:
pps.score(df1,"ApplicantIncome","ApplicantIncome_inr")
# here is show the pps value almost nearest to "1" so we can remove one column."perfect positive correlation"

In [ ]:
df1.boxplot(column="ApplicantIncome", by="Gender")

In [ ]:
df1.boxplot(column="ApplicantIncome",by="Loan_Status") # here we can see bank have their own criteri releted to income

In [ ]:
df1.boxplot(column="ApplicantIncome",by="Credit_History") # credit history of aplicant help to decide apruval for loan

# Pandas Profiling # sumerise the dataset

In [ ]:
import pandas_profiling as pp

In [ ]:
import pandas_profiling

In [ ]:
!pip install pandas-profiling

In [ ]:
import pandas_profiling # here pandas profiling help to get overall analysis of dataset

In [ ]:
pandas_profiling.ProfileReport(df1) # here we give a dataset veriable to pandas_profiling